/*reset all sizes and positioning of elements*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*use google font to the whole body*/
body {
	font-family: open sans;
}

/*create a sticky position of nav bar*/
nav {
	background-color: white;
	position: sticky;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	top: 0px;
}
ul {
	padding: 0.3rem;
}

li {
	list-style-type: none;
	display: inline;
	font-size: 20px;
	margin-left: 0.7rem;
	margin-right: 0.7rem;
}

.nav-logo {
	margin-left: 3rem;
	height: 30px;
	float: left;
}

.right-nav {
	height: 30px;
	text-align: right;
	margin-right: 150px;

}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 20px;
	font-size: 15px;
	padding: 0.5rem;
	width: 8rem;
	border: 0;
	color: white;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 50vh;
	margin-bottom: 60px;
}

.front-bg {
	background: black;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}

.container {
	color: white;
	margin-right: 9rem;
	text-align: right;
}

.title {
	font-family: Zilla Slab;
	font-size: 40px;
	margin-left: 50%;
}

.subtitle {
	margin-left: 75%;
	margin-right: 0;
	margin-top: 2.5rem;
	font-size: 1rem;
}

.apply-button { 
	background-color: #c2195b;
	border-radius: 20px;
	font-size: 15px;
	padding: 0.5rem;
	border: 0;
	margin: 1rem 0.2rem;
	width: 8rem;
	color: white;

}


.title-2 {
	font-family: Zilla Slab;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

.intro-description {
	margin-right: 16rem;
	margin-top: 5rem;
	margin-left: 9rem;
	margin-bottom: 4.5rem;
}

.pre-footer {
	background-color: #f7fbfb;
	padding: 1rem;
	text-align: center;

}

.prefooter-description {
	margin-top: 3rem;
	margin-right: 16rem;
	margin-left: 9rem;
	
}

.book-button {
	background-color: #336589;
	color: white;
	border-radius: 1rem;
	font-size: 1rem;
	width: 8rem;
	padding: .3rem;
	margin-top: 1rem;
	margin-bottom: 9rem;
}

/*creates space between the span tags and the footer border*/
footer {
	text-align: center;
	padding: 0.7rem
}

/*creates space horizontally between span tags*/
footer span {
	margin-left: 0.5rem;
    margin-right: 0.5rem;
}